@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

main {
overflow: hidden;
}

header {
  background-image: url("/public/images/carretaBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 50vw;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: #00349b;
  padding: 10px 0;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.5);
}

.logo {
  margin:-10px 0 0 80px;
  width: 230px; 
  height: auto;
  filter: drop-shadow(1px 2px 1px #fff);
}

.whatsapp-button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.3s;
}

.whatsapp-button:hover {
  transform: scale(105%);
}

.whatsapp-button img {
  width: 80%;
}


.nav-links {
  margin: -275px 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  transition: 0.3s;
  font-weight: bold;
  margin: 0 30px 0 0;
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #FFDF00;
}

.nav-links .btnNav a {
  margin: 0;
}

.menu-toggle {
  display: none;
}

.navbar {
  display: none;
}

.closebtn {
  display: none;
}

.btnNav {
  background-color: #009c3b;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  margin: 12px 8px 8px 22px;
  width: 265px;
  height: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

button.btnNav a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.btnNav a {
  color: #fff;
  text-decoration: none;
}

.btnNav:hover {
  transform: scale(105%);
  cursor: pointer;
}

.aNav {
  display: none;
}

.tituloPrincipal {
  margin-top: 17;
  text-shadow: 10px 5px 10px rgba(10, 10, 10, 5.15);
  width: 720px;
  margin-left: 10%;
}

.tituloInicio1 {
  font-weight: bold;
  font-size: 82px;
}

.tituloInicio2 {
  font-weight: bold;
  font-size: 40px;
}

.transportes {
  padding: 20px;
  text-align: center;
  background: #00349b;
}

.transportes h2 {
  font-size: 33px;
  color: #fff;
  margin-bottom: 20px;
}

.imagem-carga {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.carga-paletizada,
.carga-sacaria,
.carga-bigbag,
.carga-engradados {
  flex-basis: calc(15% - 100px);
  text-align: center;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.carga-paletizada img,
.carga-sacaria img,
.carga-bigbag img,
.carga-engradados img {
  width: 350px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.carga-paletizada h3,
.carga-sacaria h3,
.carga-bigbag h3,
.carga-engradados h3 {
  font-size: 34px;
  margin-top: 10px;
}

.carga-paletizada p,
.carga-sacaria p,
.carga-bigbag p,
.carga-engradados p {
  font-size: 16px;
  margin-top: 15px;
}

.seguranca {
  background-color: #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.seguranca h2 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #000;
}

.seguranca p {
  width: 320px;
  font-size: 18px;
}

.barraSeguranca {
  width: 8px;
  height: 220px;
  min-height: 100px;
  background-color: #FFDF00;
  margin:0 100px;
  border-radius: 4px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  text-align: left;
  max-width: 50%;
}

.seguranca img {
  border-radius: 15px;
  margin-left: 0px;
  width: 600px;
  height: 300px;
}

.valor-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tituloRazoes {
  font-size: 20px;
}

.tituloValor {
  font-size: 60px;
  color: #FFDF00;
}

.text {
  margin: 40px;
  text-align: left;
  max-width: 0 50%;
  padding-right: 20px;
}

.documentacaoText {
  margin: 70px 220px;
}

.documentacaoText h3 {
  font-size: 32px;
  margin: 15px 0;
}

.frotaText {
  font-size: 18px;
  margin: 70px 220px;
}

.frotaText h3 {
  font-size: 32px;
  margin: 15px 0;
}

.imagemValor {
  max-width: 50%;
}

.imagemValor img {
  width: 300px;
  height: auto;
  margin: 80px 60px;
  border-radius: 8px;
}

.valor {
  color: #fff;
  padding: 20px;
  text-align: center;
  background: #00349b;
}

.atender {
  color: #fff;
  background: url(/public/images/rodovia-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

.textAtender {
  text-align: left;
  padding-left: 60px;
}

.textAtender h1 {
  margin: 0;
  font-size: 68px;
  font-weight: bold;
}

.textAtender p {
  font-size: 46px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}

.btnAtender {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
}

.btnAtender a {
  text-decoration: none;
  color: #fff;
}

.btnAtender button {
  transition: 0.3s;
  border: none;
  width: 480px;
  height: 55px;
  background: #009c3b;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  border-radius: 10px;
}

.btnAtender button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.bgSobre {
  width: 100%;
  min-height: 35vh;
  padding: 0 0 40px 0;
}

.sobre {
  display: flex;
  background: #d9d9d9;
}

.sobreTexto {
  text-align: left;
  margin: 20px 40px;
  padding-left: 30px;
  max-width: 100%;
}


.sobre h1 {
  font-size: 70px;
  width: 100%;
  text-align: center;
  border-bottom: 7px solid #00349b;
  padding-bottom: 10px;
  margin: 20px 0; 
}

.sobre h2 {
  font-size: 30px;
}

.sobre p {
  font-size: 22px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #00349b;
  padding: 20px;
  height: 50vh;
}

.formulario h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

label {
  font-size: 22px;
  font-weight: bold;
  color: #FFDF00;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
}

button.btnSolicite {
  background: #009c3b;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  width: 325px;
  margin: 45px 0;
  transition: 0.3s;
}

button.btnSolicite:hover {
  transform: scale(105%);
}

button.btnSolicite a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.localizacao .tituloLocalizacao {
  font-size: 45px;
}

.localizacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #d9d9d9;
  padding: 10px;
}

.localizacao h1 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 4px solid #00349b;
  padding-bottom: 10px;
  margin: 20px 0;
}

.localizacao p {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}

.mapa {
  flex: 1;
}

.mapa img {
  width: 500px;
  height: auto;
}


.local-info {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: left;
}

.local-info p {
  font-size: 18px;
}

footer {
  background: #00349b;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 20px 0;
  font-size: 25px;
  transition: 0.3s;
}

.footer-column h3 {
  font-size: 28px;
  margin: 10px;
  border-bottom: 4px solid #fff;
}

.footer-column a:hover {
  color: #FFDF00;
  transform: scale(105%);
}

.social-icons img {
  width: 54px;
  flex-direction: row;
  height: auto;
}

.copyright p {
  text-align: center;
  font-size: 12px;
  color: #bebebe;
}





